@page "/"
@page "/tj"

<PageTitle>Home</PageTitle>

<div class="console-container">
    <div class="console-output">
        <div class="output-line" id="outputLines">
            <div>
                <h2 class="text-bold">
                    Welcome to my website!

                </h2>
                <div class="">
                    I'm a software developer who currently resides in Meridian, Idaho with my wife and kids. I'm a Full-Stack Software Developer with extensive experience in C# and JavaScript, specializing in Razor pages and MVC architecture. I have a proven track record of designing, developing, and optimizing complex software solutions.
                    I'm skilled in both front-end and back-end development, with a strong ability to translate business requirements into functional, high-performance applications. I'm also adept at gathering user feedback, prioritizing workload, and managing the full software lifecycle from concept to deployment.
                </div>
                <div class="mt-4">
                    To find out more about me, my work experience, and what I have to offer, feel free to explore the site, send me an email, or give me a call!
                </div>
            </div>
        </div>

    </div>
</div>
